<div class="page" style="padding-top: 70px">

<title> Page de cours </title>

<div class="header"> <%= Course.course_code %> </div>
<h2> Structures, techniques et normes du web </h2>

<div class="section1"><h3>Description</h3>
  <p> Infrastructure de base du Web. Serveurs et navigateurs. Exemples de protocoles.
    Internet et virus. Architecture de moteur de recherche. Contenu et présentation Web. <br>
    Pages Web, leur structure et leur interprétation. HTML, XML et leurs dérivés. Interfaces Web vers les logiciels
    et bases de données. Témoins et droit à la vie privé. Web sémantique et ontologies. Services Web.</p>
</div>

<div class="section2"><h3>Préalables :</h3>
  <p> CSI2510, CSI2532 </p>
</div>

<table>
  <thead>
  <tr>
    <th> <h3>Professeur</h3> </th>
    <th>  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td> Enseignant</td>
    <td> Andrew Forward </td>
  </tr>
  <tr>
  <tr>
    <td> Courriel </td>
    <td> <a href="mailto:aforward@uottawa.ca">aforward@uottawa.ca</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="mailto:aforward@gmail.ca">aforward@gmail.ca</a></td>
  <tr>
    <td> Site web </td>
    <td><a href="https://uottawa.blackboard.com">2171_4757 (CSI3540 A00: STRUCTURES ET NORMES DU WEB </a></td>
  </tr>
  <tr>
    <td></td>
    <td> <a href="http://a4word.com/courses/csi3540/">http://a4word.com/courses/csi3540</a></td>
  </tr>
  <tr>
    <td>TA </td>
    <td> Frédérik Paradis</td>
  </tr>
  <tr>
    <td> </td>
    <td> <a href="mailto:fpara058@uottawa.ca">afpara058@uottawa.ca</a></td>
  </tr>
  <tr>
    <td>Bureau</td>
    <td> SITE 4023</td>
  </tr>
  <tr>
    <td>Manuel</td>
    <td> Internet & World Wide Web How to Program (5th Edition)</br>
      by Paul Deitel, Harvey Deitel and Abbey Deitel</br>
      publié par Pearson<br>ISBN-13: 978-0-13-215100-9</td>
  </tr>
  </tbody>
</table>

<div class="section3">
  <h3>Horaire du cours pour la session : Hiver 2017 9 janvier - 8 avril</h3>
  <table>
    <thead>
    <tr>
      <th> Activité </th>
      <th> Jour </th>
      <th> Locale </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>LEC</td>
      <td>Mercredi 13:00 - 14:30</td>
      <td>CBY C206</td>
    </tr>
    <tr>
      <td>LEC</td>
      <td>Vendredi 11:30 - 13:00</td>
      <td>CBY C206</td>
    </tr>
    <tr>
      <td>LAB</td>
      <td>Mardi 13:00 - 14:30</td>
      <td>STE 0130</td>
    </tr>
    <tr>
      <td>TUT</td>
      <td>Lundi 11:30 - 13:00</td>
      <td>LMX 407</td>
    </tr>
    </tbody>
  </table>
</div>
</div>