<%= stylesheet_link_tag "pages.css.scss" %>

<div class="center jumbotron">
  <h1><marquee behavior="alternate" id="mov">Welcome to my syllabus maker...</marquee></h1>

  <img alt="log" src="/assets/books-image.jpg" />
  <h2>
    <p> Bienvenue sur notre site. Ce site est un outil qui est à votre disposition pour <br>
      vous facilitez la vie et vous aidez à mieux organiser votre syllabus.</p>
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
