
<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-sm-4">.col-sm-4</div>
</div>

<h1><%= @title %></h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
<% provide(:title, "Log in") %>
<h1>Log in</h1>

