
<h2 style="text-align:center;padding-top:70px;">
  Thank you for completeing You syllabus. Please click on the button below to view your syllabus <br>

  Thanks!
</h2>
<div class="form-group" style="text-align: center;padding-top:70px;">
<%= link_to 'View my syllabus', courses_View_syllabus_path, class:'btn btn-lg btn-primary' %>
</div>