<%= stylesheet_link_tag "pages.scss" %>

<h1><marquee behavior="alternate" id="mov">Welcome to my syllabus maker...</marquee></h1>

<%= "Welcome to my syllabus maker..." %>
<p> Bienvenue sur notre site. Ce site est un outil qui est à votre disposition pour <br>
    vous facilitez la vie et vous aidez à mieux organiser votre syllabus.</p>

<p>    Etes vous déjà membre?? <a href="/pages/login"> cliquez ici</a>

    Si non, veuillez vous enregistez s'il vous plaît <a href="login.html">Login page</a> </p>
