<h1><%= @title %></h1>

<form method="get" action="process.php">

<input type="email" name="email" id="email"> <br>
<input type="password" name="password" id="password"> <br>
<input type="submit" name="submit" id="submit">
<input type="button" name="cancel" id="cancel" value="Cancel"> <br>

<a href="/pages/forgotPassword"> Forgot your password?</a>
</form>
